.home{
    position: static;    /*for scrolldown arrows*/
}

.quoteBox{
    text-align: center;
    margin-top: 5rem; 
}

.quote{
    color: #8A8A8A;
        font-weight: 400;
    font-size: 1.5em;
    margin-left: 3rem;
}

.buttonBox{
    margin: 5em 3em;
/*span it's an inline element which takes up margins horizontally only. Change to div*/
    
}

.filterButton{
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #8A8A8A;
        font-weight: 500;
    font-size: 0.9em;
    border-radius: 4px;
    box-shadow: 1.5px 2px #2f3437;
    line-height: 4px;
}


button { /*reset*/
    border-style: none;
    margin-left: 2em;
}

.scrolldown{
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

.scroll {
    width: 20px;
    border-bottom: 3px solid #8A8A8A;
    height: 20px;
    display: flex;
    position: relative;
    border-right: 3px solid #8A8A8A;
    transform: rotate(45deg);
    margin: -10px;
    animation: scrolldown 2s infinite;
}

img{
    width: 45%;
    height: auto;
    margin-bottom: 10px;
}

.listItems{
    list-style: none;
}

ul{
    list-style: none;
}

.itemName{
    color: #8A8A8A;
    font-size: 1.3rem; 
}
.itemDetails{
    color: #8A8A8A;
    font-size: 1rem;
    padding: 20px;
}